.exchange-page div:not(.from-txt, .to-txt) {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  width: fit-content;
  margin: 0 auto;
  border-radius: 7px;
  transition: 0.3s;
  margin-top: 40px;
}

.exchange-page div input {
  border: none;
  outline: none;
  padding: 8px;
  border-right: 1px solid;
  margin: 6px;
  background-color: transparent;
  width: 197px;
  font-size: 19px;
  caret-color: var(--blue-color);
}

.exchange-page div:hover {
  border-color: var(--blue-color);
}

.exchange-page div select {
  border: none;
  outline: none;
  height: 50px;
  width: 299px;
  padding: 5px 9px;
  font-size: 23px;
  background-color: transparent;
  transition: 0.3s;
}

.exchange-page div select:not([disabled]):hover {
  color: white;
  cursor: pointer;
  background-color: var(--blue-color);
}

.exchange-page div:not(.from, .to) {
  margin-top: 37px;
  text-align: center;
  font-size: 37px;
  line-height: 1.3;
  word-spacing: 5px;
}

@media (max-width: 675px) {
  .exchange-page div:not(.from-txt, .to-txt) {
    flex-wrap: wrap;
    width: 77%;
    padding: 0 10px;
  }

  .exchange-page div input:first-child {
    padding-bottom: 7px;
    border-bottom: 1px solid #aaa;
  }

  .exchange-page div input {
    width: 100%;
    font-size: 19px;
    margin: 13px 0 0;
    padding: 0 15px;
    border: none;
  }

  .exchange-page div select {
    width: 100%;
    font-size: 19px;
    padding: 0 10px;
  }
}
